<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @widget.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @widget.size %>
</p>

<p>
  <strong>Runcible:</strong>
  <%= @widget.runcible %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
